<!DOCTYPE html>
<head>
<title>Twitter Bootstrap Tutorial - A responsive layout tutorial</title>
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
</head>
<body>
	<!-- <h1>TWITTER BOOTSTRAP TUTORIAL </h1> -->

	<div class='navbar navbar-inverse navbar-fixed-top'>
     	<div class = "container">
     		<div class = "navbar-brand">CourseEZ</div>
     	</div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src = "js/bootstrap.js"></script>
    <!-- <div id='content' class='row-fluid'>
      <div class='span3 sidebar'>
        <h2>Sidebar</h2>
      </div>
      <div class='span9 main'>
        <h2>Main Content Section</h2>
      </div> -->
</div>
</body>
</html>